export project_path=$PWD

source_env ".envrc_private"

# terrform env
# export TF_VAR_project_name=""
export TF_VAR_project_path=$PWD

export TF_VAR_k8s_cp_instance_type="t3.2xlarge"
export TF_VAR_num_k8s_cp_instances=1

export TF_VAR_k8s_worker_instance_type="c5.4xlarge"
export TF_VAR_num_k8s_worker_instances=3

# export TF_VAR_k8s_worker_secondary_vol_size=300

# k8s config
# export k8s_pv_size='30G'

# haproxy port
# export port_kubernetes_dashboard=443 # issue:first 443
# export port_kubernetes_ingress=31000
# export port_dremio=31001
# export port_dremio_client=31003
# export port_kubeflow=31002
