.vagrant/
.terraform/
kubespray/
!**/templates/kubespray/
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
dev_ssh_alias
dev_ssh_config
.kube/
ansible/test_deployment.yml
ansible/test_inventory.ini
.envrc_private
star_cerescloud_io.key
star_cerescloud_io.pem
unified_star_cerescloud_io.pem
id_rsa_bastion
id_rsa_node
